
.startoverlay {
  position: absolute;
  width: 90vh;
  height: 100%;
  background-color:darkblue;
}

h2 {
  margin-top: 0px;
  margin-bottom: 0px;
  color: white;
}

.rules {
  color: white;
  margin-left: 5px;
}

button {
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;

}

.winorloseoverlay {
  position: absolute;
  width: 90vh;
  height: 100%;
  background-color: gray;
}

.hidden {
  visibility: hidden;
}

h1 {
  text-align: center;
}

.gamearea {
  height: 90vh;
  width: 90vh;
  margin: 0 auto;
}
  .gamegrid {
    background-color: lightgray;
    height: 95%;
  }
    .gridbox {
      width: 11.1%;
      height: 11.1%;
      border: 1px solid black;
      box-sizing: border-box;
      float: left;
    }

  .scorebar {
    background-color: darkgray;
    height: 5%;
  }
    .scorebox {
      background-color: white;
      width: 20px;
    }
